@use 'styles/breakpoints';

.sidebar-icon {
  $self: &;

  position: relative;
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: var(--s-border-radius);

  & + & {
    margin-left: var(--s-gap-s);
  }

  &.tooltip {
    &::before {
      display: none;
    }

    &:hover::before {
      opacity: 1;
      display: block;
      position: absolute;
      content: attr(data-tooltip);
      top: 0.5rem;
      left: 3.5rem;
      font-size: 0.875rem;
      font-weight: 600;
      padding: 0.5rem;
      color: var(--c-text-inverse);
      border-radius: var(--s-border-radius);
      background-color: var(--c-bg-inverse);
    }
  }

  &--active {
    background-color: var(--c-bg-a);
  }

  &:not(#{$self}--active) {
    img {
      filter: grayscale(100%);
    }

    &:not(#{$self}--disabled) {
      img {
        opacity: 0.7;
      }
    }
  }

  &:not(#{$self}--disabled) {
    cursor: pointer;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  img {
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;

    & * {
      fill: var(--c-text-main);
    }
  }

  @include breakpoints.sm {
    & + & {
      margin-left: 0;
      margin-top: var(--s-gap-s);
    }
  }
}
