.create-campaign {
  &__connect {
    padding-right: 1rem;
    padding-left: 1rem;

    &-message {
      color: var(--c-neutral-a);
      padding-top: 1rem;
      padding-bottom: 1.5rem;
    }
  }

  &__form-wrapper--inactive {
    opacity: 0.4;
    pointer-events: none;
  }
}
