@use 'styles/breakpoints';
@use 'styles/mixins';

.sidebar {
  &,
  &__main {
    @include mixins.flex-row-distributed();
  }

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 0.5rem 1rem 0.75rem;
  background-color: var(--c-bg-paper);

  @include breakpoints.sm {
    position: sticky;
    top: 0;
    right: unset;
    bottom: unset;
    height: 100vh;
    padding-left: 0.5rem;

    &,
    &__main {
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
