@use 'styles/breakpoints';
@use 'styles/mixins';

.count-box {
  @include mixins.flex-col-center();

  border-radius: var(--s-border-radius);
  background-color: var(--c-bg-paper);

  &__value,
  &__title {
    padding: 0.75rem 0.25rem;
  }

  &__value {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__title {
    width: 100%;
    color: var(--c-neutral-a);
    font-size: 0.875rem;
    text-align: center;
    border-radius: var(--s-border-radius-s);
    background-color: var(--c-bg-b);
  }

  @include breakpoints.sm {
    &__value {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
