@use 'styles/breakpoints';
@use 'styles/mixins';

$container-max-width: 75rem; // 1200px

.layout {
  .main {
    max-width: $container-max-width;
    padding-bottom: 5rem;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .view {
    padding-right: var(--s-gap-s);
    padding-left: var(--s-gap-s);
    animation: fade 0.25s ease-out;

    &__title {
      font-size: 1.25rem;
      font-weight: 600;
      padding: 1.75rem 1rem;
    }
  }

  .row {
    display: flex;
    align-items: center;
  }

  @include breakpoints.sm {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

    .main {
      flex-grow: 1;
      padding-bottom: 0;
    }

    .view {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}
